.wrapper
	display: grid
	// grid-template-columns: 100px 100px 100px
	// grid-template-columns: 30% 30% 30%
	// grid-template-columns: 1fr 1fr 1fr
	// grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
	// grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
	// grid-template-columns: repeat(3, 100px)
	// grid-template-rows: 1fr 1fr 1fr
	// grid-template-columns: 100px 100px 100px
	// align-items: center
	// justify-items: center
	// place-items: start
	// grid-column-gap: 10px
	// grid-auto-columns: 1fr
	grid-template-areas: "header header header" "main main sidebar" "footer footer footer"
	// grid-gap: 10px
	border: 2px solid red

	.site-header
		border: 2px solid green
		font-size: 25px
		// grid-column-start: 2
		// grid-column-end: 4
		// grid-column-end: span 4
		// grid-column: 1 / 4
		grid-area: header
	
	main
		grid-area: main

	.section-item1
		border: 2px solid green
		font-size: 25px		

	.section-item2
		border: 2px solid green
		font-size: 25px

	.section-item3
		border: 2px solid green
		font-size: 25px

	.site-aside
		grid-area: sidebar
		border: 2px solid green
		font-size: 25px

	.site-footer
		grid-area: footer
		border: 2px solid green
		font-size: 25px