.wrapper
	display: grid	
	grid-template-areas: "header" "main" "footer"
	

	.header			
		grid-area: header
		display: grid
	
	main
		grid-area: main	

	// .site-aside
	// 	grid-area: sidebar		

	.site-footer
		grid-area: footer		