@import '_abstracts/vars'

#header_top__menu__checkbox, 
.header_top__menu__toggle   
    display: none

.header_top    
    display: flex    
    flex-wrap: wrap
    justify-content: space-between

    &__logo 
        img
            height: 96px
            width: 150px
    &__text
        flex-grow: 2
        align-self: center
        text-align: center
        // flex-shrink: 2
        // flex-basis: auto
        // margin: auto        

    &__contacts
        align-self: center
        p
            margin: 0
    
    &__menu        
        ul
            display: flex 
            flex-wrap: wrap
            justify-content: space-between
            margin: 0          

.header_center__text
    text-align: center
            
            



    

    
              

     